.shop-hours {
  display: flex;
  column-gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

ul p {
  margin: 0;
}

li {
  list-style: none;
  width: 4vw;
}
